<div class="outer">
    <div class="container">
      <div class="row">
        <div class="navbar-top d-flex bg-white mt-5 p-4 rounded-3 col-8 offset-2">
          <span class="navbar-span">Tüm İkramlar</span>
          <span class="navbar-span">Geçmiş Oylamalar</span>
          <span class="navbar-span">AAA</span>
        </div>
      </div>
      <div class="row">
        <div class="vote-container bg-white mt-5 rounded-3 col-8 offset-2">
          <h2 class="text-center my-3">Haftanın Oylaması  --> 16.08.2023</h2>
          <div class="voting-part my-5">
            <div class="form-check d-flex align-items-center">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                <app-selection-card></app-selection-card>
              </label>
            </div>
            <div class="form-check d-flex align-items-center">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
              <label class="form-check-label" for="flexRadioDefault2">
                <app-selection-card></app-selection-card>
              </label>
            </div>
          </div>
          <button class="btn btn-primary w-100 my-3">Oy Ver</button>
        </div>
      </div>
    </div>
</div>
